/* app.css */

/* Style for the file input */
input[type="file"] {
  display: block;
  margin: 10px auto;
}

/* Style for the toggle buttons */
.toggle-buttons {
  margin-bottom: 20px;
}

/* Style for table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Style for chart container */
.chart-container {
  margin-top: 20px;
}

/* Hide chart by default */
.chart-container.hide {
  display: none;
}

/* app.css */

/* Style for the file input */
.file-input {
  display: block;
  margin: 10px auto;
}

/* Style for the toggle buttons container */
.toggle-buttons {
  text-align: center;
  margin-bottom: 20px;
}

/* Style for the buttons */
.toggle-buttons button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* Style for the buttons on hover and active states */
.toggle-buttons button:hover,
.toggle-buttons button:active {
  background-color: #45a049;
}

/* Additional button colors */
.toggle-buttons .graph-button {
  background-color: #3498db;
}

.toggle-buttons .graph-button:hover,
.toggle-buttons .graph-button:active {
  background-color: #2980b9;
}

.file-input-container {
  text-align: center;
  margin: 20px 0;
}

.browse-button {
  background-color: #3498db;
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Style for the browse button on hover and active states */
.browse-button:hover,
.browse-button:active {
  background-color: #2980b9;
}

/* Style for the heading */
.heading {
  text-align: center;
  font-size: 36px; /* Set the font size to make it much bigger */
  margin-bottom: 20px;
  background-color: #3498db; /* Add a background color */
  color: white; /* Set the text color to white for better contrast */
  padding: 10px; /* Add padding for better spacing */
  border-radius: 8px; /* Add border-radius for rounded corners */
}